div.container {
    margin: 50px clamp(50px, 20vw, 150px);
}

section.content {
    background-color: #E6E7EF;
    padding: 40px;
}

header.header {
    display: flex;
    align-items: center;
    margin: 0 0 60px 0;
}

header.header h3.title {
    position: relative;
    margin: 0 15px;
    font-size: 20px;
    font-weight: normal;
}
header.header h3.title::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: black;
}

header.header button.rightButton {
    margin-left: auto;
    transform: rotate(180deg);
}

@media (max-width:700px) {

    section.textChanger > button {
        display: none
    }

    section.textChanger {
        grid-template-columns: 1fr;
    }
}
