button.Button {
    margin-left: auto;
    background-color: transparent;
    border: none;
}

div.darkMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    opacity: 0.4;
}

div.darkMaskIn {
    animation-name: dark;
    animation-duration: 0.5s;
}
div.darkMaskOut {
    animation-name: light;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

section.filter {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    width: 30%;
    height: 100%;
    background-color: white;
    z-index: 4;
}
section.filterIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
}
section.filterOut {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes dark {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.4;
    }
    
}

@keyframes light {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translate(100%,0);
    }

    to {
        transform: translate(0,0);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(100%,0);
    }
}