header.Main {
    background-color: transparent;
    mix-blend-mode: difference;
    backdrop-filter: blur(10px);
}

header.Main nav ul.header {
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px clamp(15px,3vw,30px);
}

header.Main nav ul.header > li > * {
    color: white;
    mix-blend-mode: difference;
    z-index: 1;
}
    
header.Main {z-index: 2;}

header.Main nav div.foto {
    position: relative;
    align-self: stretch;
}

header.Main nav div.foto div.img{
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translate(-100%,0);
    background-color: white;
    mix-blend-mode: difference;
}

header.Main nav div.foto div.img::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 100%;
    left: 0;
}

header.Main nav div.foto:hover ul.options {
    background-color: black;
    mix-blend-mode: difference;
    opacity: 0.5;
    display: block;
}

header.Main nav ul{
    display: flex;
    margin: 0;
}

header.Main nav ul.options{
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    list-style: none;
    flex-direction: column;
    padding: 0;
}

header.Main nav ul.options li a, header.Main nav ul.options li button {
    border: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;
}

header.Main nav ul.options li button:hover {cursor: pointer;}



header.Main {
    position: fixed;
    width: 100%;
}

header.Main h1 {
    margin: 0 auto;
}

header.Main nav > ul > li > *{
    display: block;
}

