button.Button {
    background-color: white;
    border: none;
    width: 20px;
    height: 20px;
}

button.Button:hover {
    cursor: pointer;
}
button.Button:nth-child(1) {
    border-radius: 3px 0 0 3px;
}

button.Button:last-child {
    border-radius: 0 3px 3px 0;
}