div.SearchBar{
    margin-top: 20px;
    width: clamp(200px, 35vw, 350px);
}

div.SearchBar input[type="text"]{
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    width: 100%;
}