section.course{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 3fr 4fr;
    position: relative;
    background-color: #D6D7DF;
}

section.course section.data {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

section.course section.data p {
    margin: 0;
}

section.course section.data h4 {
    margin: 0;
    font-size: 20px;
    font-weight:normal;
}

section.course section.data p.value {
    margin-top: 30px;
    font-size: 15px;
}

section.course section.data p.language {
    font-size: 12px;
}

section.course section.data p.teachers {
    margin-top: 10px;
    font-size: 12px;
    color: #5B5959;
}

section.course > div.image{
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-color: black;
}