main.CourseRoute {
    margin-top: 40px;
    padding: 0 30px;
}

main.CourseRoute > div.Container {
   display: flex;
   justify-content: center;
}


main.CourseRoute > section.courses{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

main.CourseRoute > section.courses section.Course{
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(128, 133, 150);
    color: rgb(80, 91, 97);
}

main.CourseRoute > .resultsLanguage {
    display: flex;
    align-items: center;
}

main.CourseRoute > .resultsLanguage > select {
    margin-left: auto;
    padding: 5px;
}
