div.field {
    margin-top: 30px;
}

div.selector {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

div.selector::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    top:50%;
    left: 0;
    transform: translate(0, -50%);
}

div.selector div.ball {
    background-color: #D9D9D9;
}

div.selector div.Line {
    background-color: #D9D9D9;
}

div.selector div.buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

div.selector div.ball, div.selector div.buttons div.coloredBall {
    padding: 7.5px;
    border-radius: 50%;
}

div.selector div.buttons div.coloredBall {
    position: relative;
    background-color: #7A99A4;
}

div.selector div.buttons div.coloredBall div.value {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 10px;
}

div.selector div.buttons div.Line, div.selector div.Line {
    height: 2px;
}

div.selector div.buttons div.Line {
    background-color: #7A99A4;
}