@keyframes slideIn {
    from {
        transform: translate(100%,0);
    }

    to {
        transform: translate(0,0);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(100%,0);
    }
}

section.filter {
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px;
    width: 30%;
    height: 100%;
    background-color: white;
    z-index: 4;
}
section.filterIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
section.filterOut {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

section.filter form.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button.Button {
    margin-left: auto;
    background-color: transparent;
    border: none;
}