main.Home > section.introduct {
    background-color: inherit;
    display: grid;
    grid-template-columns: 4fr 3.5fr;
    height: 100vh;
}

main.Home > section{
    padding: 0 clamp(15px,3vw,30px);
}

main.Home > section.introduct div.container {
    display: grid;
    place-items: center;
}

main.Home > section.introduct div.hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(15px,3vw,30px);
    color: white;
}

main.Home > section.introduct div.hello p{margin: 0;text-align: center;}


main.Home > section.aboutus {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(240, 242, 255);
}


main.Home > section.aboutus > section > div {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: clamp(5px,2vw,20px);

}

main.Home > section.aboutus > section.text {
    box-shadow: 0px 5px 10px rgb(150, 165, 177);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    margin-top: clamp(20px, 4vw, 50px);
}

main.Home > section.aboutus h2 {
    margin: 0;
    margin-bottom: clamp(30px, 9vw, 100px);
    font-size: 30px;
    text-align: center;
}

main.Home > section.aboutus > section.text p {
    margin: 10px 0;
    text-indent: 40px;
}


@media (max-width:700px) {
    main.Home > section.introduct {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }

    main.Home > section.introduct div.container {
        padding: 0 10%;
    }
}