@keyframes imageSlideUpDown {
    from {
        transform: translate(0, -2%);
    }

    to {
        transform: translate(0, 2%);
    }
}

main.Home > section.introduct {
    background-color: inherit;
    display: grid;
    grid-template-columns: 4fr 3.5fr;
    height: 100vh;
}

main.Home > section.introduct div.container {
    display: grid;
    place-items: center;
}

main.Home > section.introduct div.container img{
    animation-name: imageSlideUpDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

main.Home > section.introduct div.hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(15px,3vw,30px);
    color: white;
}

main.Home > section.introduct div.hello p{margin: 0;text-align: center;}


main.Home > section.aboutus {
    display: flex;
    flex-direction: column;
    background-color: #9599AF;
}

@media (max-width:700px) {
    main.Home > section.introduct {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }

    main.Home > section.introduct div.container, main.Home > section.introduct div.hello {
        padding: 0 10%;
    }
}