:root {
  --commonFieldColor: #7A99A4;
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
  padding: 0;
  margin: 0;
  height: 100%;
}

#root{min-height: 100%;display: flex;flex-direction: column;background-color: rgb(42, 46, 58);position: relative;}