header.Main nav ul.header {
    list-style: none;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 30px;
    backdrop-filter: blur(10px)
}

header.Main nav ul{
    display: flex;
    margin: 0;
}

header.Main nav ul.options{
    flex-direction: column;
    padding: 0;
}

header.Main nav ul.options li a {
    padding: 10px;
}



header.Main {
    position: fixed;
    width: 100%;
}

header.Main h1 {
    margin: 0;
}

header.Main nav > ul > li > *{
    display: block;
}

