#root > header nav ul {
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 30px;
    backdrop-filter: blur(10px)
}

#root > header {
    position: fixed;
    width: 100%;
}

#root > header h1 {
    margin: 0;
}

#root > header nav > ul > li > *{
    display: block;
    color: white;
}

