button.styledButton {
    position: relative;
    padding: 15px;
    background-color: #49575E;
    border-radius: 50%;
    border: 2px solid black;
}

button.styledButton:hover {
    cursor: pointer;
}

button.styledButton::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    border-top: 8px solid transparent;
    border-right: 15px solid #E6E7EF;
    border-bottom: 8px solid transparent;
    border-left: 0;
    transform: translate(-50%, -50%);
}