.resultsLanguage {
    display: flex;
    align-items: center;
}

.resultsLanguage > select {
    margin-left: auto;
    padding: 5px;
}

.resultsLanguage > h2 {
    color: white;
    font-size: clamp(15px, 4vw, 25px);
}

section.courses{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

section.courses section.Course{
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(128, 133, 150);
    color: rgb(80, 91, 97);
}

section.courses section.Course p.data {
    margin: 2px 0;
    font-size: 14px;
}

section.courses section.Course > div.imageContainer {
    display: flex;
    justify-content: center
}

section.courses section.Course span{
    color: rgb(131, 85, 0);
}

form.CreateCourse {
    display: none;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}