.resultsLanguage {
    display: flex;
    align-items: center;
}

.resultsLanguage > select {
    margin-left: auto;
    padding: 5px;
}

section.courses{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

section.courses section.Course{
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(128, 133, 150);
    color: rgb(80, 91, 97);
}