.resultsLanguage {
    display: flex;
    align-items: center;
}

.resultsLanguage > select {
    margin-left: auto;
    padding: 5px;
}

.resultsLanguage > h2 {
    color: white;
    font-size: clamp(15px, 4vw, 25px);
}

section.courses{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

section.courses section.Course{
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(128, 133, 150);
    color: rgb(80, 91, 97);
}

section.courses section.Course p.data {
    margin: 2px 0;
    font-size: 14px;
}

section.courses section.Course > div.imageContainer {
    display: flex;
    justify-content: center
}

section.courses section.Course span{
    color: rgb(131, 85, 0);
}

form.CreateCourse {
    display: flex;
    position: fixed;
    width: clamp(200px, 40vw, 400px);
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 102, 116);
    color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(21, 21, 24);
}

form.CreateCourse > div:nth-child(n+1) {
    margin-top: 15px;
}

form.CreateCourse > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form.CreateCourse > div input[type="file"] {
    display: none;
}

form.CreateCourse > div > input {
    padding: 5px;
}


form.CreateCourse > div.fileDiv > div {
    display: flex;
    flex-direction: row;
}

form.CreateCourse > div.fileDiv > span {
    align-self: end;
    margin-top: 5px;
    text-decoration: underline;
    font-size: 12px;
}

form.CreateCourse > div.fileDiv button, form.CreateCourse input[type="submit"] {
    display: inline-block;
    margin-left: auto;
    align-self: flex-start;
    background-color: rgb(140, 158, 179);
    border-radius: 5px;
    padding: 2px 5px;
    width: auto;
    outline: none;
    border: 1px solid rgb(47, 48, 65);
    color: white;
    transition: all 0.5s;
}

form.CreateCourse > div.fileDiv button:hover, form.CreateCourse input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(114, 127, 143);
    transform: scale(1.05);
}

form.CreateCourse input[type="submit"] {
    margin: 10px auto 0 auto;
}
