div.Config{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

div.Config label{
    font-size: clamp(12px, 2.5vw, 15px);
}

div.Config input{
    font-size: clamp(10px, 2.5vw, 12px);
}


div.Config button {
    font-size: clamp(10px, 2.5vw, 15px);
}

div.Config input {
    width: auto;
    overflow: visible;
}

div.Config button{margin-left: auto;}

div.Config div.InputContainer {
    display: flex;
    flex-direction: column;
}

.OffChangeInput {
    border:none;
    padding: 0;
    outline: none;
    font-size: 16px;
}